.card {
    display: inline-block;
    width: 100%;
    background-color: lightgray;
    margin: 15px;
    border-radius: 7.5px;
    text-align: center;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.12),
    0 5px 15px 0 rgba(0,0,0,0.08);
}
@media(min-width: 480px) {
    .card {
        width: 367px;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.card-image{
    width: 100%;
    height: 200px;
}

.card-info {
    padding: 10px;
}

.card-info-desc {
    height: 150px;
    overflow: hidden;
}