.search-title {
    font-size: 26px;
    text-align: center;
}

.search-input {
    height: 50px;
    width: 320px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 26px; 
}